@use '../../helpers' as *;

// Main Title
.main-title {
    color: color(main-color) !important;
    font-weight: 600;
}

// Main Title
.small-title {
    color: color(main-color) !important;
}

// Table header title
.header-title {
    color: color(dark) !important;
}

