@use "../helpers" as *;

.home_section {
  color: color(light);
  & h1 {
    font-size: 4rem;
  }
}

.btns_section {
  margin-top: 2.5rem !important;
}

.first_view {
  background: linear-gradient(
    200deg,
    color(blue-color) 20%,
    color(dark-purple)
  );
  height: 100vh;
  position: relative;
  z-index: 0;
}

.wave {
  position: absolute;
  bottom: 0;
}
