@use '../helpers' as *;


//  Main button 
.main-btn {
    background: color(light);
    box-shadow: $btn-box-shadow;
    color: color(dark);
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(main-color);
        color: color(light) !important;
    }
}

// Second button
.second-btn {
    background: color(main-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(light) !important;
        color: color(dark) !important;
        border: 0.1em solid color(main-color);
    }
}


// Costumize the danger button
.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the success button
.success-btn {
    background: color(success);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the info button
.info-btn {
    background: color(info);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}
