@use '../helpers' as *;

//  Main button
.main-btn {
    background: color(main-color);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    font-weight: bold;
    @include global-transition;
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Second button
.second-btn {
    background: color(main-color) !important;
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    &:hover {
        background: color(light) !important;
        color: color(dark) !important;
        border: 0.1em solid color(main-color);
    }
}

// Costumize the danger button
.danger-btn {
    background: color(danger);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the success button
.success-btn {
    background: color(success);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

// Costumize the info button
.info-btn {
    background: color(info);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.whatsapp-btn {
    background: linear-gradient(135deg, rgba(0,255,50,1) 11%, rgba(2,139,15,1) 78%);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    font-weight: bold !important;
    
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.messenger-btn {
    background: color(main-color-grad);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    font-weight: bold !important;
    
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.telegram-btn {
    background: linear-gradient(135deg, rgba(0,195,255,1) 11%, rgba(2,28,139,1) 78%);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    font-weight: bold !important;

    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}

.mail-btn {
    background: linear-gradient(135deg, rgba(255,0,156,1) 11%, rgba(139,2,69,1) 78%);
    box-shadow: $btn-box-shadow;
    color: color(light) !important;
    border-radius: $main-border-radius !important;
    text-decoration: none;
    @include global-transition;
    font-weight: bold !important;
    
    &:hover {
        background: color(dark);
        color: color(light) !important;
    }
}
