@use "./components";
@use "./helpers" as *;

html,
body {
  padding: 0;
  margin: 0;
  background-color: color(light);
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Logo
.logo {
  color: white;
  &:hover {
    color: white;
  }
}

// Global Text
.main-text {
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.text-color {
  color: #35393f;
}

.dark-menu {
  background: color(dark-purple);
}

.header {
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.842);
}
